<section class="user">
    <h1><%= @user.name %></h1>
    <h2><%= mail_to(@user.email) %></h2>
    <h3>Member Since</h3>
<p>
  <%= @user.created_at.strftime("%B %Y") %>
</p>
<% if current_user_admin? %>
  <div class="actions">
    <%= link_to "Delete Account", @user, class: "button delete",

    data: { turbo_method: :delete, turbo_confirm: "Permanently Delete Account? " }%>
    <% else %>
    <%= link_to "Edit Account", edit_user_path(@user),
                              class: "button edit" %>

    
  </div>
 <% end %> 
</section>
